<a href="https://colab.research.google.com/github/jakemil14/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
COGS_RATE = 0.40  # 40% of sales

# Inputs
sales = float(input("Enter sales ($): "))
tax_rate_percent = float(input("Enter tax rate (%): "))

# Calculations
cogs = sales * COGS_RATE
gross_profit = sales - cogs
taxes = gross_profit * (tax_rate_percent / 100)
net_income = gross_profit - taxes

# Display (formatted like an income statement)
print("\nSales:           $ {:,.2f}".format(sales))
print("Cost's of Goods Sold: $ {:,.2f}".format(cogs))
print("Gross Profit:    $ {:,.2f}".format(gross_profit))
print("Taxes:           $ {:,.2f}".format(taxes))
print("Net Income:      $ {:,.2f}".format(net_income))

Enter sales ($): 120000
Enter tax rate (%): 30

Sales:           $ 120,000.00
Cost's of Goods Sold: $ 48,000.00
Gross Profit:    $ 72,000.00
Taxes:           $ 21,600.00
Net Income:      $ 50,400.00

In [ ]:
if True:
    print("Phising!")

Phising!

In [ ]:
email = "URGENT!!Login to www.phis.org immediately otherwise your account will be suspended!"
has_urgent = "URGENT!"
has_www = "www" # Define has_www

if has_urgent in email:
    print("Phising!")
elif has_www in email:
    print("Spam")
else:
    print('Legit!')

Phising!

In [ ]:
from os.path import expandvars

# Example of how to use expandvars (it expands shell environment variables)
# user_home = expandvars('$HOME')
# print(f'User home: {user_home}')

# Corrected if/elif statement example
condition = True # Define condition for demonstration
another_condition = False # Define another_condition for demonstration

if condition:
    print("Condition is true")
elif another_condition:
    print("Another condition is true")
else:
    print("Neither condition is true")

Condition is true

In [ ]:
grade=float(input("enter numerical grade (0-100)"))

if grade>= 97:
    print ("A+")
elif grade >= 93:
    print ("A")
elif grade >= 90:
    print ("A-")

enter numerical grade (0-100)90
A-

In [ ]:

1 if cond1:
2   if cond2:
3    exprs

SyntaxError: invalid syntax (ipython-input-3322457697.py, line 1)

In [ ]:
email = "URGENT!! Click on the following: to..."
has_urgent = "URGENT!"
has_www = "www."

if has_urgent in email and has_www in email:
    print("Phishing!")
elif has_urgent in email or has_www in email:
    print("Spam!")
else:
    print("Legit!")

Spam!

In [ ]:
email = "Urgent!!! Click on the following: www.phising.com to..."
has_urgent = "URGENT"
has_www = "www."

if has_urgent in email and has_www in email:
  print("Phishing!")
elif has_urgent in email or has_www not in email:
  print("Spam!")
else:
  print("Legit!")

Legit!

In [ ]:
sales = float(input("Enter sales value ($): "))

tax_rate = float(input("Enter tax rate (%)"))
cogs = 0.4 * sales
gross_profit = sales - cogs
taxes = gross_profit * (tax_rate / 100)
net_income = gross_profit - taxes

print(f"Sales: {sales}$")
print(f"Cost's of Goods Sold: {cogs}$")
print(f"Gross Profit: {gross_profit}$")
print(f"Taxes: {taxes}$")
print(f"Net Income: {net_income}$")

In [ ]:
x = 5
print("Even" if x % 2 == 0 else "odd")

odd

In [ ]:
print("Hour(s) Fee")
for i in range(1,9,1):
  cost = 5 +(i * 2.5)
  if cost < 10:
    cost = 10.0
  elif cost > 20:
    cost = 20.0
    print(f"{i} {cost}")

Hour(s) Fee
7 20.0
8 20.0

In [ ]:
import pandas as pd
import numpy as np

# --- Parameters ---
ticket_price = 10.0
initial_attendees = 20
fixed_costs = 200.0

# --- Advertising Amounts to Test ---
# Using numpy.arange to create a range of advertising dollars
# from 0 to 1000, with a step of 50
advertising_amounts = np.arange(0, 1001, 50)

# --- Lists to store results ---
results = []

# --- Calculate profit for each advertising amount ---
for ad_dollars in advertising_amounts:
    # Calculate additional attendees (round down to whole number as people can't be fractional)
    additional_attendees = int(2 * (ad_dollars**0.5))

    # Calculate total attendees
    total_attendees = initial_attendees + additional_attendees

    # Calculate revenue
    revenue = total_attendees * ticket_price

    # Calculate total costs
    total_costs = fixed_costs + ad_dollars

    # Calculate profit
    profit = revenue - total_costs

    # Store the results
    results.append({
        'Advertising Dollars': ad_dollars,
        'Additional Attendees': additional_attendees,
        'Total Attendees': total_attendees,
        'Revenue': revenue,
        'Total Costs': total_costs,
        'Profit': profit
    })

# --- Create DataFrame and display ---
df_profit = pd.DataFrame(results)

df_profit['Profit'] = df_profit['Profit'].map('${:,.2f}'.format)
df_profit['Revenue'] = df_profit['Revenue'].map('${:,.2f}'.format)
df_profit['Total Costs'] = df_profit['Total Costs'].map('${:,.2f}'.format)
df_profit['Advertising Dollars'] = df_profit['Advertising Dollars'].map('${:,.2f}'.format)

display(df_profit)

,Advertising Dollars,Additional Attendees,Total Attendees,Revenue,Total Costs,Profit
0,$0.00,0,20,$200.00,$200.00,$0.00
1,$50.00,14,34,$340.00,$250.00,$90.00
2,$100.00,20,40,$400.00,$300.00,$100.00
3,$150.00,24,44,$440.00,$350.00,$90.00
4,$200.00,28,48,$480.00,$400.00,$80.00
5,$250.00,31,51,$510.00,$450.00,$60.00
6,$300.00,34,54,$540.00,$500.00,$40.00
7,$350.00,37,57,$570.00,$550.00,$20.00
8,$400.00,40,60,$600.00,$600.00,$0.00
9,$450.00,42,62,$620.00,$650.00,$-30.00
10,$500.00,44,64,$640.00,$700.00,$-60.00
11,$550.00,46,66,$660.00,$750.00,$-90.00
12,$600.00,48,68,$680.00,$800.00,$-120.00
13,$650.00,50,70,$700.00,$850.00,$-150.00
14,$700.00,52,72,$720.00,$900.00,$-180.00
15,$750.00,54,74,$740.00,$950.00,$-210.00
16,$800.00,56,76,$760.00,"$1,000.00",$-240.00
17,$850.00,58,78,$780.00,"$1,050.00",$-270.00
18,$900.00,60,80,$800.00,"$1,100.00",$-300.00
19,$950.00,61,81,$810.00,"$1,150.00",$-340.00
20,"$1,000.00",63,83,$830.00,"$1,200.00",$-370.00

In [ ]:
ticketPrice = 10
standardAttendees = 20
for ad_dollars in range(0,201,25):
  additional_attendees = int(2 * (ad_dollars**0.5))
  total_attendees = standardAttendees + additional_attendees
  revenue = total_attendees * ticketPrice
  costs = 200 + ad_dollars
  profit = revenue - costs
  print(f"{ad_dollars} {profit}")

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
x = 0
while x < 3:
  print (x ** 2)
  x += 1

0
1
4

In [ ]:
import random #

In [ ]:
play_again = 'yes'

while play_again.lower() == 'yes':
    user_move = input("Choose your move (rock, paper, or scissors): ").lower()

    while user_move not in ['rock', 'paper', 'scissors']:
        print("Invalid move. Please choose rock, paper, or scissors.")
        user_move = input("Choose your move (rock, paper, or scissors): ").lower()

    computer_move = random.choice(['rock', 'paper', 'scissors'])

    print(f"You chose: {user_move}")
    print(f"Computer chose: {computer_move}")

    if user_move == computer_move:
        print("It's a tie!")
    elif (
        (user_move == 'rock' and computer_move == 'scissors') or
        (user_move == 'paper' and computer_move == 'rock') or
        (user_move == 'scissors' and computer_move == 'paper')
    ):
        print("You win!")
    else:
        print("Computer wins!")

    play_again = input("Do you want to play again? (yes/no): ")

print("Thanks for playing!")

You chose: rock
Computer chose: scissors
You win!
Invalid move. Please choose rock, paper, or scissors.
You chose: scissors
Computer chose: scissors
It's a tie!

In [ ]:
import random

play = input("Do you want to play a game? (yes/no): ")

while play == 'y':
    player = input("Choose b/w rock,paper,scissors")
    computer = random.choice(['rock', 'paper', 'scissors'])

    if player == computer:
      print("Draw")
    elif (player == 'rock' and computer == 'scissors') or
      print("Player wins!")
    elif (player == 'scissors' and computer == 'paper') or
      print("Player wins!")
    elif (player == 'paper' and computer == 'rock')
      print("Player wins!")
    else:
     elif (computer == 'rock' and player == 'scissors')
      print("Computer wins!")
    elif (computer == 'scissors' and player == 'paper')
      print("Computer wins!")
    elif (computer == 'paper' and player == 'rock')
      print("Computer wins!")

    play = input("Do you want to play again? (yes/no): ")

In [4]:
play_again = 'yes'

while play_again.lower() == 'yes':
    my_list = []

    while True:
        try:
            user_input = float(input("Enter a number (enter 0 to stop): "))
            if user_input == 0:
                break
            my_list.append(user_input)
        except ValueError:
            print("Invalid input. Please enter a numerical value.")

    if my_list:
        my_list.sort(reverse=True)
        print("Your numbers in descending order:", my_list)
    else:
        print("No numbers were entered.")

    play_again = input("Do you want to enter numbers again? (yes/no): ")

print("Goodbye!")

Your numbers in descending order: [93.0, 90.0, 75.0, 64.0, 62.0, 30.0, 25.0, 23.0, 20.0, 12.0, 10.0, 9.0, 8.0, 7.0, 5.0]

KeyboardInterrupt: Interrupted by user

In [ ]:
numbers = []

num = int(input("Enter a number: "))
while num != 0:
  numbers.append(num)
num = int(input("Enter another number: "))

  numebrs.sort(reverse=true)
  print(numbers)

In [8]:
weights = [10.0,9.9,10.1,10.05]

s = 0
for w in weights:
    s += w


print(s/len(weights))

largest = 0
for w in weights:
  if w > largest:
    largest = w

print(largest)

10.0125
10.1

In [ ]:
weights = [10.0,9.9,10.1,10.05]

print(sum(weights)/len(weights))
print(max(weights))

In [10]:
a = [1,2,3]
b = a

a[1] = 10

print (a,b)

[1, 10, 3] [1, 10, 3]